*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: #04B19C;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../assets/img/fundo.png");
    background-size: cover;
}

.form-login {
    color: white;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    animation: slideRight 1.8s ease;
}

.logo-atlas {
    width: 500px;
    animation: slideDown 1s ease;
}

.login-btn{
    margin-top: 50px;
    border: none;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.114);
    color: #000000;
    border-radius: 30px;
    user-select: none;
    font-size: 20px;
    padding: 5px 25px;
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: ease 0.5s;
    animation: scaleIn 1s ease;
}

.login-btn:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
}

#logo-google {
    width: 50px;
    height: 50px;
}

/* Se usarmos um dia o loader */
.loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #0A5671;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    animation: l1 2s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l1 {
    33% {border-radius: 0;background: #CBDD53 ;clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
    66% {border-radius: 0;background: #04B19C ;clip-path: polygon(50% 0,50% 0,100% 100%,0 100%)}
  }

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0.5;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0.5;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0.5;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px){
    .form-login {
        width: 400px;
        height: 200px;
    }

    .logo-atlas {
        width: 300px;
    }
}