body {
    height: 100vh;
}

.container-aluno {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#foto-aluno {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 75%;
    
}

.stats-grid-superior,  .stats-grid-inferior {
    width: 100%;
    display: grid;
    height: 300px;
    gap: 20px;
}

.stats-grid-superior {
    grid-template-columns: 1fr 1fr;
}

.stats-grid-inferior { 
    grid-template-columns: 0.5fr 1.5fr;
}

.stats-grid-superior div,  .stats-grid-inferior div {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 100%;
}

