.alunos {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    max-width: 100%;
}

#aluno-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 285px;
    border-radius: 40px;
    gap: 15px;
    background-color: #D9D9D9;
}

#aluno-container img {
    width: 100px;
    border-radius: 50%;
}

#aluno-container p {
    max-width: 50%;
    text-align: center;
}

#aluno-container h3 {
    font-size: 15px;
    max-width: 70%;
}

#aluno-container h3, #aluno-container p {
    margin: 0;
}

