body {
    height: 100vh;
}

.container-aluno {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#foto-aluno {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    max-width: 90%;
    height: 500px;
}

.stats-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    height: auto;
    border-radius: 40px;
    width: 100%;
}
